[data-theme="light"]{
  --bs-body-bg: #cec5c5;
  --bs-body-color: #000;
  --bs-nav-link-color: #000;
  --bs-emphasis-color-rgb: 0,0,0;


}

[data-theme="dark"]{
  --bs-body-bg: #212529;
  --bs-body-color: #fff;
  --bs-nav-link-color: #fff;
  --bs-emphasis-color-rgb: 255,255,255;


}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-border-width: 2.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
