**/bin/
**/obj/
**/out/
*.user
*.suo
*.userprefs
*.sln.docstates
**/.vs/
**/.vscode/
**/*.*proj.user
**/Dockerfile*
**/.dockerignore
.git
.gitignore
README.md
LICENSE
**/*.md
**/appsettings.Development.json
**/appsettings.Production.json
